.banner {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

/* Content */
.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;                         
  transform: translate(-50%, -50%);  
  color: white;
  z-index: 2;
  max-width: 600px;                 
  text-align: center;              
}


.banner-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Controls */
.banner-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 25px;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 3;
}

.banner-control.left {
  left: 20px;
}

.banner-control.right {
  right: 20px;
}
